<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78275778064-gmrp2f48l98rhi2b4hghhb8vr8f33irf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78275778064-gmrp2f48l98rhi2b4hghhb8vr8f33irf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78275778064-nhoq431tt82ebmofdfr24tmd2cva5ois.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2CmNcAXCoELbuAQN8YqImWPtzi4MXgRU</string>
	<key>GCM_SENDER_ID</key>
	<string>78275778064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rd.uniprint</string>
	<key>PROJECT_ID</key>
	<string>uniprint-uv</string>
	<key>STORAGE_BUCKET</key>
	<string>uniprint-uv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78275778064:ios:513bef9ef50ff533fa9c95</string>
	<key>DATABASE_URL</key>
	<string>https://uniprint-uv.firebaseio.com</string>
</dict>
</plist>